<div>

    <h2>AuthorizedPortfolioOperations</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveAuthorizedPortfolioOperationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new AuthorizedPortfolioOperation
    </button>
    <div class="modal fade" id="saveAuthorizedPortfolioOperationModal" tabindex="-1" role="dialog" aria-labelledby="myAuthorizedPortfolioOperationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAuthorizedPortfolioOperationLabel">Create or edit a AuthorizedPortfolioOperation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="authorizedPortfolioOperation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="authorizedPortfolioOperation.name">
                        </div>
                        <div class="form-group">
                            <label>OperType</label>
                            <input type="text" class="form-control"
                                   ng-model="authorizedPortfolioOperation.operType">
                        </div>
                        <div class="form-group">
                            <label>MinQuantity</label>
                            <input type="text" class="form-control"
                                   ng-model="authorizedPortfolioOperation.minQuantity">
                        </div>
                        <div class="form-group">
                            <label>MaxQuantity</label>
                            <input type="text" class="form-control"
                                   ng-model="authorizedPortfolioOperation.maxQuantity">
                        </div>

                        <div class="form-group">
                            <label>instrument</label>
                            <select class="form-control" ng-model="authorizedPortfolioOperation.instrument.id" ng-options="instrument.id as instrument.id for instrument in instruments">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>fromPortfolio</label>
                            <select class="form-control" ng-model="authorizedPortfolioOperation.fromPortfolio.id" ng-options="portfolio.id as portfolio.id for portfolio in portfolios">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>toPortfolio</label>
                            <select class="form-control" ng-model="authorizedPortfolioOperation.toPortfolio.id" ng-options="portfolio.id as portfolio.id for portfolio in portfolios">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>OperType</th>
                    <th>MinQuantity</th>
                    <th>MaxQuantity</th>
                    <th>Inst</th>
                    <th>From</th>
                    <th>To</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="authorizedPortfolioOperation in authorizedPortfolioOperations">
                    <td>{{authorizedPortfolioOperation.id}}</td>
                    <td>{{authorizedPortfolioOperation.name}}</td>
                    <td>{{authorizedPortfolioOperation.operType}}</td>
                    <td>{{authorizedPortfolioOperation.minQuantity}}</td>
                    <td>{{authorizedPortfolioOperation.maxQuantity}}</td>
                    <td>({{authorizedPortfolioOperation.instrument.id}}) {{authorizedPortfolioOperation.instrument.name}}</td>
                    <td>({{authorizedPortfolioOperation.fromPortfolio.id}}) {{authorizedPortfolioOperation.fromPortfolio.name}}</td>
                    <td>({{authorizedPortfolioOperation.toPortfolio.id}}) {{authorizedPortfolioOperation.toPortfolio.name}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(authorizedPortfolioOperation.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(authorizedPortfolioOperation.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
